@import url(nullstyles.css);




// Задать стандартный шрифт
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
}

// Задать максимальную ширирну контента на странице
.container {
    height: 100%;
    // max-width: 2560px;
    // max-height: 1440px;
    max-width: 1920px;
    max-height: 1080px;

    // max-width: 1200; // ширина контента
    // max-width: 100%;
    // max-height: 100%;
    // min-height: 600px;
    margin: 0 auto; // центрируем по середине экрана
    // padding: 0 15px; // делаем минимальные отступы по краям для всех устройств
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 1180px;
    min-height: 600px;
}

// Адаптивная верстка (адаптация ширины под устройства)
@media (min-width: 1910px) {
    .container {
        max-width: 2560px;
        max-height: 1440px;
    }
}

// @media (max-width: 992) {
//     .container {
//         max-width: 750px;
//     }
// }

// @media (max-width: 767px) {
//     .container {
//         max-width: none;
//     }
// }

// стилизация полосы прокрутки
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b4;
    
  }
  
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 5px 0;
  }










// Стили для боковой панели
.sidenav {
    display: flex;
    flex: 1 0 auto;
    min-width: 160px;
    // max-width: 200px;
    max-width: 12%;

    min-height: 100%;
    flex-direction: column;
    cursor: pointer;
    background: #eeeeee;

    .sidenav__logo {
        display: block;
        background-color: #c4c4c469;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        height: 44px;

        .sidenav__title {
            display: inline;
            color: #565656;   
            font-size: 20px;
            font-weight: 800;  
            line-height: 24px;
            letter-spacing: 1px;                                           
        }
        
        &:hover .sidenav__title {
            color: #5656569f;
        }

    }    

    .sidenav__link {
        padding: 5px 0 0 0;

        .sidenav__item {
            background-color: #c4c4c43a;
            border-radius: 15px;  
            .first-level {
                padding: 10px 15px;
                margin: 5px 0;
                .first-level__text {
                    margin: 0px 30px 0 0;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 1px; 
                    color: #565656;   
                    font-weight: 600;                     
                }
                &.first-level_arrow {
                    position: relative;
                    &::after,
                    &::before {
                        content: ''; 
                        width: 11px;
                        height: 1px;
                        background-color: #565656;
                        position: absolute;
                        top: 50%;  
                        transition: all 0.3s ease 0s;        
                    }
                    &::before {
                        transform: rotate(40deg);
                        right: 18px;
                    }

                    &::after {
                        transform: rotate(-40deg);
                        right: 10px;
                    }   

                    &.active::after {
                        transform: rotate(40deg);
                    }

                    &.active::before {
                        transform: rotate(-40deg);
                    }
                }
            } 
            &:hover {
                background-color: #c4c4c484;
                border-radius: 15px;                          
            }

            &.active{
                background-color: #2704ee38;
                border-radius: 15px;   
            } 

            .second-level {
                display: none;

                &__block {
                    display: flex;
                    flex-direction: column;
                    border-radius: 15px;  
                    .second-level__text {
                        display: inline;
                        font-size: 13px;
                        line-height: 20px;
                        letter-spacing: 1px; 
                        color: #565656;   
                        font-weight: 600; 
                        padding: 5px 10px 5px 30px;
                        &:last-child {
                            padding: 3px 10px 10px 30px;
                        }
                        &:first-child {
                            padding: 0 10px 0 30px;
                        }                   
                        &:hover {       
                            color: #1f1f1f;                  
                        }
                    }
                }
            }            
        }  
    }
}

// Правая сторона экрана (основная)
.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
}

// Верхняя панель меню
.navbar {
    background-color: #eeeeee;
    width: 100%;
    flex: 0 0 auto;
    &__row { 
        height: 44px;
        background-color: #c4c4c469;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }

    &__block-btn {

    }

    &__user {
        display: flex;
        margin: 8px 10px; 
    }

    &__user-info {
        display: flex;
        flex: 1 1 auto;
        color: #565656;
        font-weight: 600;
        line-height: 24px;
        .user-name {
            margin: 0 10px;
        }

        .user-role {
            margin: 0 10px;
        }
    }

    &__user-btn {

           

    }

}

// Основная часть контента
.main-body {
    flex: 1 1 auto;
    background-color: #eeeeee;
    overflow: hidden;
    padding: 10px;
}

// Верхний блок основной части
.top-block {
    display: flex;
    flex-direction: row;
    min-height: 30px;
    border: 1px solid #bebebe;
    background-color: #c4c4c43a;
    border-radius: 15px;
    margin: 0 0 10px 0;

    &__order-info {
        display: flex;
        margin: auto auto auto 20px;
        .top-block__order-title {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1px; 
            font-weight: 600;                     
        }  
    }

    &__status {
        display: flex;
        height: 20px;
        margin: auto 20px;

        
        .top-block__label {
            text-align: center;
            font-size: 14px;
            height: 100%;
            margin: 0 10px;
            padding: 1% 0;
        }
        .order-status {
            height: 100%;
            width: 200px;
            border-radius: 7px;
            text-align-last: center;
            font-size: 14px; 
        }
        .submit-status-icon {
            height: 20px;
            width: 20px;
            text-align: center;
            padding: 2px;
            background-color: transparent;   
            border: none;
            border-radius: 7px; 
            margin: 0;
            color: green;

            &:hover {
                background-color: green; 
                color: white;
            }
        }

        .reset-status-icon {
            height: 20px;
            width: 20px;
            text-align: center;
            vertical-align: middle;
            padding: 2px;
            background-color: transparent;   
            border: none;
            border-radius: 7px; 
            margin: 0;
            color: red;

            &:hover {
                background-color: red; 
                color: white;                
            }
        }
    }
}

// Страница с информацией по карте из заказа
.detailed-product-card-in-order {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

// Нижний блок основной части
.bottom-block {
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
}

// Вкладки внутри спойлеров (дополнительные)
.tabs-general {
    display: block;
    width: 100%;
    height: 100%;

    &__nav {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {

        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: #f5f5f5;
        border-radius: 10px;
        min-width: 120px;
        min-height: 20px;
        margin: 5px 5px 6px 5px;  
        cursor: pointer;
        position: relative;
        box-shadow: 0 0 4px 3px #8c8c8c43;
        border: 1px solid #bbbbbb;

        .label-text {
            font-size: 12px;
            line-height: 1.5;
        }

        // &:first-child {
        //     margin-left: 5px;
        //     border-top-left-radius: 9px;
        //     border-right: 1px solid #bebebe;
        //     border-left: none;
        // }

        &_active {
            // background-color: #f5f4f734;
            box-shadow: 0 0 4px 3px #1500ff40;
            // box-shadow: none;
            // border: 3px solid #1500ff44;
            

            &::after {
                content: '';
                width: 86%;
                height: 3px;
                background-color: #6271fa;
                position: absolute;
                top: 22px; 
                left: 7%; 
            }    
        }

        

        &:not(.tabs-general__btn_active):hover,
        &:not(.tabs-general__btn_active):focus {
            background-color: #e5e5e53d;
        }        
    }

    &__content {
        border: 1px solid #bebebe;
        border-radius: 15px;
        background-color: #c4c4c43a;
        height: calc(100% - 35px);
        &:first-of-type {
            border-radius: 0 15px 15px 15px;
        }
    }

    &__pane {
        display: none;
        height: 100%;
    }

    &__pane_show {
        display: block;
    }
}

// Вкладки внутри спойлеров (дополнительные)
.tabs-mini {
    width: 100%;
    height: 100%;

    &__nav {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        display: block;
        float: left;
        width: 100px;
        height: 20px;
        cursor: pointer;
        background-color: #f5f4f4;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
        border-right: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
        border-top: none;

        &:first-child {
            margin-left: 0;
            border-top-left-radius: 9px;
            border-right: 1px solid #bebebe;
            border-left: none;
        }

        &_active {
            background-color: rgba(182, 184, 240, 0.662745098);
            border-bottom: 2px solid #0800ff;   
        }
  
        &:not(.tabs-mini__btn_active):hover,
        &:not(.tabs-mini__btn_active):focus {
            background-color: #e5e5e53d;
        }        
    }

    &__content {
        padding: 10px;
    }

    &__pane {
        display: none;
    }

    &__pane_show {
        display: block;
    }
}

// Вкладка с общей информацией по заказу
.general-card-info {
    display: block;
    height: 100%;
    width: 100%;

    &__main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__info {
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        width: 100%;
        height: 150px;
        position: relative;
        margin-bottom: 2px;
        &:after {
            content: ''; 
            position: absolute;
            bottom: 0; 
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 2px solid #b9b9b9;
        }
    }
    
    &__block-picture {
        display: flex;
        flex: 1 0 auto;
        max-width: 230px;
        height: 100%;
    }

    &__picture {
        margin: 5px 5px;
        position: relative;

        .card-picture {
            height: 100%;
            width: 100%;
        }       
    }

    &__block-create-modify {
        display: flex;
        flex: 0 1 auto;
        height: 100%;
        // margin: 0 auto;
    }

    &__name {
        flex: 1 1 auto;
        display: inline-block;
        margin: 30px 5px auto 20px;
        font-size: 14px;

        &_w150 {
            max-width: 150px;
        }
    }

    &__date {
        display: block;
        flex: 0 1 auto;
        margin: 30px 5px 5px 0;
        font-size: 14px;

        &_w80 {
            max-width: 80px;
        }
    }

    &__block-btn-comments {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-width: 350px;
        max-width: 700px;
        height: 100%;
        // max-width: 1100px;
    }

    &__btn {
        display: flex;
        justify-content: end;
        margin: 5px 5px 2px 0;
        flex: 0 0 auto;
    }

    &__comment {
        display: block;
        flex: 1 1 auto;
        padding: 0 5px;   
    }

    &__full-info {
        display: block;
        flex: 1 1 auto;
        width: 100%; 
        max-height: 100%;  
        overflow-y: scroll;
    }
}    

// Вкладка с детальной/подробной информацией по заказу
.detailed-card-info {
    height: 100%;
    height: 100%;
    overflow-y: scroll;
}

// Спойлеры с нумерованными кругами и линией 
.spoiler-num-cycle {
    counter-reset: num;
    padding: 10px;
    &__block {
        display: none;
        border-radius: 10px;
        margin: 10px 10px 0 40px;
        border: 1px solid #bebebe;
    }

    &__item {
        display: block;
        margin: 20px 0 15px 0px;
        position: relative;
        &:first-child {
            margin: 10px 0 10px 0px;
        }
        &::before {
            content: ''; 
            position: absolute;
            // bottom: 0;
            top: 0;
            left: 15px;    
            // border: 2px solid #37b700;
            border: 2px solid #b1b1b1;
            z-index: 0;            
        }
        &:not(:last-child)::before {
            content: ''; 
            bottom: -20px;
        }
        &:last-child::before {
            content: ''; 
            bottom: 0;
        }
        &_completed {
            &::before {  
                border: 2px solid #37b700;
            }

            .spoiler-num-cycle__title {
                &::before{
                    background: #37b700;
                    border: 1px solid #37b700;
                }
            }
        }
        &_progress {
            &::before {  
                border: 2px solid #f7bb4b;
            }

            .spoiler-num-cycle__title {
                &::before{
                    background: #f7bb4b;
                    border: 1px solid #f7bb4b;
                }
            }
        }

    }      
    
    &__title {
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 0 0 0 40px;
        position: relative;
        &::before{
            content: counter(num); 
            counter-increment: num;
            display: inline-block;
            position: absolute;
            top: -5px;
            left: 5px;
            width: 24px;
            height: 24px;
            line-height: 24px;
            color: #ffffff;
            background: #b1b1b1;
            border: 1px solid #b1b1b1; 
            // background: #37b700;
            // border: 1px solid #37b700; 
            text-align: center;
            font-size: 16px;
            border-radius: 50%;  
            cursor: pointer;   
            z-index: 1; 
            font-weight: normal;
        }

        
    }

    &__text {
        padding: 10px;
    }
}

// Спойлеры с разворачивающейся стрелкой
.spoiler-arrow {
    counter-reset: num;

    &__block {
        display: none;
        border-radius: 10px;
        margin: 10px 10px 0 10px;
        padding: 5px;
        border: 1px solid #bebebe;

        &_no-border {
            border: none;
            padding: 0;
        }
    }

    &__block-content {
        display: flex;

        // Стили для блока реквизитов
        .banks-requisites {
            flex: 0 0 45%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;   
            
            &::before {
                position: absolute;
                content: '';
                height: 95%;
                width: 1px;
                background-color: #b7b4b4;
                top: 2.5%;
                left: 100%;
            }
            
            &__title {
                text-align: center;
                font-size: 14px;
            }
        
            &__content {
                margin: 5px 0 0 0;
                display: flex;
                
            }
        
            &__data-eng {
                flex: 1 1 auto;
                margin: 0 5px;

            }

            &__data-ru {
                flex: 1 1 auto;
                margin: 0 5px;
            }
        
        }
        
        // Стили для блока с контактами
        .banks-contacts {
            flex: 0 0 25%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                height: 95%;
                width: 1px;
                background-color: #b7b4b4;
                top: 2.5%;
                left: 100%;
            }

            &__title {
                text-align: center;
                font-size: 14px;
            }
                
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }
        }
        
        // Стили для блока коммуникации
        .communication {
            flex: 1 0 25%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            // margin: 0 0 0 5px;

            &__title {
                text-align: center;
                font-size: 14px;
            }
        
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }

            &__bank {
                &_resize-not {
                    max-width: 100%;
                    min-width: 100%;
                    overflow: auto;   
                    resize: none;   
                }   
            }
        
            &__vendor {
                &_resize-not {
                    max-width: 100%;
                    min-width: 100%;
                    overflow: auto;   
                    resize: none;   
                }   
            }
        }

        // Стили для блока с количеством
        .card-quantity {
            flex: 0 0 15%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                height: 95%;
                width: 1px;
                background-color: #b7b4b4;
                top: 2.5%;
                left: 100%;
            }

            &__title {
                font-size: 14px;
                text-align: center;
            }
    
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }
        }

        // Стили для блока с описанием карты
        .card-description {
            flex: 0 0 25%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                height: 95%;
                width: 1px;
                background-color: #b7b4b4;
                top: 2.5%;
                left: 100%;
            }

            &__title {
                font-size: 14px;
                text-align: center;
            }
    
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }
        }

        // Стили для блока с описанием чипа
        .chip-description {
            flex: 0 0 25%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                height: 95%;
                width: 1px;
                background-color: #b7b4b4;
                top: 2.5%;
                left: 100%;
            }

            &__title {
                font-size: 14px;
                text-align: center;
            }
    
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }
        }

        // Стили для блока с описанием эффектов
        .card-effects {
            flex: 0 0 35%;
            display: flex;
            flex-direction: column;
            padding: 5px;
            position: relative;

            &__title {
                font-size: 14px;
                text-align: center;
            }
    
            &__content {
                margin: 5px 0 0 0;
                padding: 0 5px;
                flex: 1 1 auto;
            }

            &__plastic-block {
                display: flex;
                justify-content: space-between;
            }

            .additional-card-effects-block {
                min-height: 130px;
                max-height: 130px;
                overflow-y: scroll;
                font-size: 12px;
                padding: 0 10px;
            }
        }
    }

    &__item {
        display: block;
        margin: 20px 0 15px 0px;
        position: relative;
        &:first-child {
            margin: 10px 0 10px 0px;
        }
    }      
    
    &__title {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 0 0 0 40px;
        position: relative;

        &::after,
        &::before {
            content: ''; 
            width: 11px;
            height: 2px;
            background-color: #565656;
            position: absolute;
            top: 50%;  
            transition: all 0.3s ease 0s;        
        }
        &::before {
            transform: rotate(40deg);
            left: 7px;
        }

        &::after {
            transform: rotate(-40deg);
            left: 15px;
        }   

        &.active::after {
            transform: rotate(40deg);
            background-color: red;
        }

        &.active::before {
            transform: rotate(-40deg);
            background-color: red;
        }
    }

    &__text {
        padding: 10px;
    }
}

// Вкладки для просмотра и загрузки документов
.document-control-form {
    display: flex;
    flex-direction: column;

    &__status-file-comment-block {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 10px;
        &:after {
            content: ''; 
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 2px solid #b9b9b9;
        }
    }

    &__block-status-file {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }

    &__status {
        display: flex;
        text-align-last: center;
        // margin: auto 0 -3px 0;
        // margin: auto 0 20px 0;
    }

    &__add-file-btn {
        margin: 5px auto 0 5px;
    }

    &__block-btn-comments {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-width: 350px;
        max-width: 700px;
        height: 100%;
    }

    &__btn-block {
        display: flex;
        justify-content: end;
        margin: 5px 5px 0 0;
    }

    &__comment {
        display: block;
        flex: 1 1 auto;
        padding: 0 5px;   
    }

    &__table-block {
        display: block;
        height: 300px;
    }
}

// Кнопки
.btn {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    margin: 0 2px;
    font-size: 12px;
    color: #000;
    
    &:hover {
        box-shadow: 0 0 2px 3px #8c8c8c5d;
    }

    // Зеленая кнопка подтверждения
    &_submit {
        background-color: #0cd70c;
        border: 1px solid #0eb30e;


        &:hover {
            background-color: #16c716;
            border: 1px solid #12b112;  
        }

        .span {
            padding: 0;
            margin: 0;
        }
    }

    // Серая кнопка отмены
    &_reset {
        background-color: #d9d9d9;
        border: 1px solid #b1b1b1;

        &:hover {
            background-color: #cbcbcb;
        }
    }

    // Серая кнопка с иконкой
    &_icon {
        background-color: #d9d9d9;
        border: 1px solid #b1b1b1;
        width: 30px;
        
        &:hover {
            background-color: #cbcbcb;
        }
    }

    // Кнопка в виде точек
    &_dots-list {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    
        &:hover, &:focus {
            background-color: #e3e3e3;
        }
    }

    // Мини кнопка в виде точек серая
    &_dots-list-grey-mini {
        background-color: #d9d9d9;
        border: 1px solid #b1b1b1;
        width: 30px;
        font-size: 16px;

        &:hover {
            background-color: #cbcbcb;
        }
    }
 
    &_h20-w200 {
        background-color: #d9d9d9;
        border: 1px solid #b1b1b1;
        width: 200px;
        height: 20px;

        &:hover {
            background-color: #cbcbcb;
        }
    }

    // Общая кнопка для добавления новой карты
    &_add {
        border: 1px solid #25d36576;
        margin: 8px 20px; 
        position: relative;
        width: 100px;
        height: 26px;
        // transition: 0.5s;
        font-size: 14px;

        p {
        position: absolute;
        top: 4px;
        left: 17px;
        margin: 0;
        padding: 0;
        transition: .5s;
        color: #25D366;
        }
        .bi-plus-circle {
            position: absolute;
            top: 5px;
            right: 7px;
            margin: 0;
            padding: 0;
            opacity: 0;
            transition: 0.5s;
            height: 14px;
            fill: #fff
        }
        &:hover p {
            left: 5px;
            color: #fff
        }
        &:hover .bi-plus-circle {
            opacity: 1;
        }
        &:hover {
            background-color: #25d36576;
            box-shadow: 0 0 5px 2px #9999999a;
        }
    }

    &_user-drop {
        background-color: transparent;
        height: 16px;
        width: auto;
        margin: 4px auto 4px auto;
        border-radius: 2px;
        font-size: auto;
        color: #565656;

        &:hover {
            box-shadow: none;
        }

        svg {
            color: #565656;
            cursor: pointer;  
        }
    }
} 

// Текстовые поля
.text-field {
    &_top-margin-15 {
    margin-top: 15px;
    }

    &_top-margin-5 {
        margin-top: 5px;
        }

    &_full-margin-5 {
        margin: 5px;
        }    

    &_w60-percent {
        width: 60%;
    }

    &_w38-percent {
        width: 38%;
    }


    // Название над текстовым полем
    .text-field__label {
        display: inline;
        font-size: 12px;
        margin: 0 0 0 5px;
    }

    // Поле для ввода данный
    .text-field__input {
        display: inline-block;
        width: 100%;
        // height: calc(2.25rem + 2px);
        height: 25px;
        padding: 0 5px;
        // padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #212529;
        background-color: #fff;
        // background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 7px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::placeholder {
            color: #212529;
            opacity: 0.4;
        }

        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #bdbdbd;
            outline: 0;
            box-shadow: 0 0 6px 2px #0f13943f;
        }

        &:disabled, &[readonly] {
            background-color: #f2f2f2;
            opacity: 1;
            &:focus {
                box-shadow: 0 0 6px 2px #ee13133f;
            }
        }
    }

    // Текстовое поле для ввода большого количества строк
    .text-field__textarea {
        display: inline-block;
        width: 100%;
        height: 100%;
        // height: calc(2.25rem + 2px);
        // padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #212529;
        background-color: #fff;
        // background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 7px;
        padding: 5px 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &::placeholder {
            color: #212529;
            opacity: 0.4;
        }

        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #bdbdbd;
            outline: 0;
            box-shadow: 0 0 6px 2px #0f13943f;
        }
        &:disabled, &[readonly] {
            background-color: #f2f2f2;
            opacity: 1;
            &:focus {
                box-shadow: 0 0 6px 2px #ee13133f;
            }
        }

        &_resize-not {
            max-width: 100%;
            min-width: 100%;
            // overflow: auto;   
            resize: none;   
        }
    }

    // Поле выбора данных
    .text-field__select {
        display: inline-block;
        width: 100%;
        // height: calc(2.25rem + 2px);
        height: 25px;
        padding: 0 5px;
        // padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #212529;
        background-color: #fff;
        // background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 7px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        
        &::placeholder {
            color: #212529;
            opacity: 0.4;
        }
        
        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #bdbdbd;
            outline: 0;
            box-shadow: 0 0 6px 2px #0f13943f;
        }

        &:disabled, &[readonly] {
            background-color: #f2f2f2;
            opacity: 1;
            &:focus {
                box-shadow: 0 0 6px 2px #ee13133f;
            }
        }
    }

        // Поле c блоком для данный
    .text-field__block-checkbox {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        background-color: #fff;
        border: 1px solid #bdbdbd;
        border-radius: 7px;
    }
} 
     
// Стили для чекбоксов с галочкой
.card-checkbox {
    margin-top: 15px;

    &__label {
        // margin-right: 1rem;
        padding-left: 25px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    &__input[type="checkbox"] {  
        position: absolute;
        opacity: 0;
    
        &:hover ~ .card-checkbox__element {
        box-shadow: 0 0 6px 2px #0f13943f;
        background: #12c31e47 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
        }  

        &:focus ~ .card-checkbox__element {
        box-shadow: 0 0 6px 2px #0f13943f;
        }

        &:focus:checked ~ .card-checkbox__element {
        box-shadow: 0 0 6px 2px #0f13943f;
        }
    
        &:checked ~ .card-checkbox__element {
        color: white;
        background: #12c31e url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
        border: 2px solid #10a21a;
        }
    }

    &__element {
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: -2px;
        width:  15px; 
        height: 15px;
        //   background-color: lighten(black, 65%);
        border: 2px solid #a3a3a3;
        pointer-events: none;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }  
}

// Таблицы
.table-block {
    width: 100%;
    height: 100%;
    // padding: 0 5px 5px 5px;
    border-top: none;
    border-radius: 15px 10px 0 0;

    // Обычная таблица без поиска и сортировки
    .table-without-sort-and-search {
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 17px 10px 0 0;
        width: 100%;
        table-layout: auto;

        caption {
            font-size: 14px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        

        th {
            border-top: none;
            font-size: 13px;
            height: 20px;
            // border-radius: 10px;

            &:first-of-type .table-btn{
                // border-top-left-radius: 15px;
            }  

            &:last-of-type .table-btn{
                // border-top-right-radius: 15px;
            }  
        }

        td {
            border: 1px solid #6588b185;
            padding: 5px;
            background-color: #efefef;
            font-size: 12px;
            text-align: left;
            vertical-align: middle;
            border-radius: 10px;
            
        }

        .text-center {
            text-align: center;
        }

      // Кнопки в шапке таблицы
        .table-btn {
            display: block;
            width: 100%;
            height: 100%;
            background-color: #b8bef9;
            box-shadow: inset 0 40px 40px -40px #ffffffe8;
            margin: 5px 0;
            border: 1px solid #6588b185;
            border-radius: 10px;

            p {
                font-weight: bold;
            }
        }

    }

}

// Спадающий список
.dropdown {
    position: relative;
    display: inline-block;

    &__content {
        position: absolute;
        top: 100%;
        right: 0px;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    
    &__text {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    border-radius: 10px;
    }
    
    &__text:focus, &__text:hover {
    color: #262626;
    text-decoration: none;
    background-color: #d3d3d3;
    }
    
    .open > &__content {
    display: block;
    }
}










// сделать общий класс!!!!!!!
// .info-label {
//     margin: 0 0 10px 0;
//     .info-input {
//         background-color: transparent;
//         font-weight: bold;
//         // max-width: 150px;
//     }
// }